    <div class="sidebar-nav" th:fragment="sidenavbar">
    <ul>

   <li><a href="#" data-target=".accounts-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-briefcase"></i> Account <span class="label label-info">+3</span></a></li>
        <li><ul class="accounts-menu nav nav-list collapse">
            <li ><a href="sign-in.html"><span class="fa fa-caret-right"></span> Sign In</a></li>
            <li ><a href="sign-up.html"><span class="fa fa-caret-right"></span> Sign Up</a></li>
            <li ><a href="reset-password.html"><span class="fa fa-caret-right"></span> Reset Password</a></li>
    </ul></li>
	<li><a href="help.html" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Users</a></li>
	<!--<li><a href="help.html" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Groups</a></li>-->
	<li><a href="help.html" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Brands</a></li>
	<li><a href="help.html" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Category</a></li>
	<li><a href="help.html" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Attributes</a></li>
	
	
	<li><a href="#" data-target=".Customer" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-male"></i> Customer<i class="fa fa-collapse"></i></a></li>
	 <li><ul class="Customer nav nav-list collapse">
            <li ><a href="/customer/addcustomer"><span class="fa fa-caret-right"></span> Add Customer</a></li>
            <li ><a href="/customer/"><span class="fa fa-caret-right"></span> Customer List</a></li>
    </ul></li>
	
	<li><a href="#" data-target=".Suppliers" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-legal"></i> Suppliers<i class="fa fa-collapse"></i></a></li>
	 <li><ul class="Suppliers nav nav-list collapse">
            <li ><a href="/supplier/addsupplier"><span class="fa fa-caret-right"></span> Add Suppliers</a></li>
            <li ><a href="/supplier/"><span class="fa fa-caret-right"></span> Suppliers List</a></li>
    </ul></li>
	
	<li><a href="#" data-target=".Products" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-legal"></i> Products<i class="fa fa-collapse"></i></a></li>
	 <li><ul class="Products nav nav-list collapse">
            <li ><a href="privacy-policy.html"><span class="fa fa-caret-right"></span> Add Products</a></li>
            <li ><a href="terms-and-conditions.html"><span class="fa fa-caret-right"></span> Products List</a></li>
    </ul></li>
	
	
	<li><a href="help.html" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Sales</a></li>
	<li><a href="help.html" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Stock</a></li>
	<li><a href="#" data-target=".Reports" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-legal"></i> Reports<i class="fa fa-collapse"></i></a></li>
	<li><ul class="Reports nav nav-list collapse">
            <li ><a href="privacy-policy.html"><span class="fa fa-caret-right"></span> Add Products</a></li>
            <li ><a href="terms-and-conditions.html"><span class="fa fa-caret-right"></span> Products List</a></li>
    </ul></li>
    
            </ul>
    </div>